.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Documentation here: https://yarnpkg.com/features/zero-installs

# Comment out to not use zero-installs
# !.yarn/cache

# Comment out to use zero-installs
.pnp.*

build
dist

node_modules

.DS_Store
